<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/contentful}">

<head>
	<link th:href="@{/static/css/common/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
 	<script th:inline="javascript">

 	
	</script>
</head>

<th:block layout:fragment="content">
   	<body>
   		<div class="bg-white border rounded-5">
   		<section class="w-100 p-4 d-flex justify-content-left pb-4">
			<legend>DEOTIS DigitalArs Local Test Page</legend>
			
		</section>
		</div>
	</body>
</th:block>
</html>