<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/contentful}" lang="ko">
<head>
<script th:inline="javascript">
	$(document).ready(function(){	
		
		common.blockHistoryBack();  // 이전화면으로 이동 막기
		
		$.post(contextPath+"/api/wms/external/goToEnd", {message : "INPUT_FAIL"}, function(result){
			if(result) {
				setTimeout(() => {
					location.replace(contextPath+"/common/svcEnd");
				}, 5000);
			}
		});
		
	});
</script>
</head>
<th:block layout:fragment="content">
<div class="page-wrapper endPage no-header">
    <!-- 콘텐츠 영역 -->
    <div class="content">
        <div class="caution-section caution">
            <strong class="tit">
                죄송합니다.<br>
                서비스 연결이 원활하지 않습니다.
            </strong>
            <p class="txt">콜봇으로 전환 됩니다.</p>
        </div>
    </div>
    <!-- 콘텐츠 영역 END -->
</div>
</th:block>
</html>
